.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: salmon;
}

.important {
  
}

.box {
  border: 10px;
  border-color: black;
  border-style: dotted;
}

div {
  background-color: lightpink ;
}