.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: salmon;
}

div {
  border: 10px;
  border-color: black;
  border-style: solid;
}

div {
  background-color: lightpink ;
}

p {
  font-size: large;
}

a {
  font-size: large;
}